*   {

  margin: 0;
  padding: 0;
  font-size: 1em;
  box-sizing: border-box;
}



html {
height: 100%;
}

body {
min-height: 100%;
line-height: 1;
font-family: sans-serif;
}

h1 {
font-size: 200%;
}

header {
padding: 1rem 0;
justify-content: space-between;
background-color: pink;
color: blueviolet;   
min-width: 50%;
}

.row {
display: flex;
}

.rowTitle > h2 {
font-size: 30px;
width: 200px;
flex-shrink: 0;

}

.container {
width: 900px;
margin: 0 auto;
max-width: 100%;
}



#headerBackground {
  background-image: url("./photos/universe.jpg");
  display: flex;
  flex-direction: row-reverse;
  padding: 1%;
  }

.borderRight {
      border-right: 1px solid black;
    }          



#surfReport {
display: flex 100%;
height: 100px;
justify-content: flex-start;
}
#areaA {
background-color: lime;
}

#areaB {
background-color: yellow;
}

#bigBox {
background-color: aqua;

 }