*   {

  margin: 0;
  padding: 0;
  font-size: 1em;
  box-sizing: border-box;
}



html {
height: 100%;
}

body {
min-height: 100%;
line-height: 1;
font-family: sans-serif;
}

h1 {
font-size: 200%;
}

h4 {
  font-size: 50%;
}

header {
padding: 1rem 0;
justify-content: space-between;
background-color: pink;
color: blueviolet;   
min-width: 50%;
}

.row {
display: flex;
}

.rowTitle  {
font-size: 30px;

flex-shrink: 0;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: stretch;
justify-content: space-between;
}

.rowTitle > h2 {
flex: 0 0 20%;
text-align: right;
border-right: 4px solid;
}

.rowTitle > div {
flex: 0 0 77%;
}

.flex-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.flex-item {
border: 5px solid yellow;
min-height: 200px;
max-height: 200px;
display: flex;
align-items: flex-end;
flex-basis: 49%; 
}

.flex-item:first-child {
min-height: 600px;
flex-basis: 100%;
} 



#headerBackground {
  background-image: url("./photos/universe.jpg");
  color: white;
  display: flex;
  flex-direction: row-reverse;
  padding: 1%;
  }


.borderRight {
      border-right: 1px solid black;
    }          



#surfReport {
  height: 200px;
  align-items: baseline;
}

#areaA {
background-color: lime;
}

#areaB {
background-color: yellow;
}

#bigBox {
background-color: aqua;
display: flex;
width: 100%;
height: 300px;
flex-shrink: 0;

 }